name: Generate Ascii

on: push

jobs:
  ascii_jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: List Repo Files
        run: ls -ltra
      - name: Executing Shell Script
        run: ./ascii-script.sh
